.aside-top {
	padding: 7px 0 12px 0;

	border-bottom: 1px solid #b9b9b9;

	color: $white;
}
.aside-top__right {
	display: flex;
	align-items: center;
}
.uptime,
.address,
.phone,
.email {
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.5rem;
	text-align: right;

	color: $white;
}
.time,
.city,
.number__phone,
.mail {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.8rem;
	text-align: right;

	color: $white;
}
.aside-bot {
	padding-top: 16px;
}

@media (max-width: 992px) {
	.aside-bot,
	.city,
	.mail,
	.email,
	.address {
		display: none;
	}
	.time,
	.number__phone {
		color: $secondary;
	}
	.aside-top {
		border: 0;
		padding-top: 10px;
		width: 100%;
		height: 40px;
		background: url(../images/logo360.svg);
		background-repeat: no-repeat;
		background-position: left bottom;
	}
	.logo {
		display: none;
	}
	.aside-top__right {
		display: flex;
		justify-content: space-around;
		margin-left: 230px;
	}
}

@media (max-width: 768px) {
	.aside-bot,
	.aside-top__right {
		display: none;
	}
}
