.choice {
	padding-top: 40px;
}
.b-shadow {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.choice__title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: 500;
	line-height: 2.3rem;
	letter-spacing: 0em;
	color: $secondary;
	padding: 23px 0 11px 0;
	span {
		background-color: $primary;
		height: 31px;
		width: 24px;
		padding: 4px 6px 4px 6px;
		margin-right: 10px;
		color: $white;
	}
}
.choice__img {
	margin-bottom: 27px;
}
.snowsun__img {
	margin-bottom: 17px;
}

.choice__item {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.choice__left {
	max-width: 445px;
	height: 294px;
}
.choice__right {
	max-width: 635px;
	height: 246px;
}

.choice__inner {
	margin-top: -20px;
	background-color: $white;
	
}
