.header {
	width: 100%;
	height: 100vh;
	min-height: 600px;
	background: url(../images/header.jpg) center no-repeat;
	background-size: cover;
}

@media (max-width: 992px) {
	.header {
		width: 100%;
		min-height: 525px;
		background: url(../images/header768.jpg) center no-repeat;
		background-size: cover;
	}
}

@media (max-width: 768px) {
	.header {
		width: 100%;
		min-height: 600px;
		background: url(../images/header360.jpg) center no-repeat;
		background-size: cover;
	}
	.container {
		margin: 0 auto;
	}
}
