.intro {
	padding-top: 4.1rem;
	&__title {
		font-weight: 500;
		font-size: 5.3rem;
		line-height: 6.2rem;
		margin-bottom: 36px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		padding-right: 10.8rem;
	}
}
.content__text {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 4rem;
	line-height: 4.7rem;
	margin-bottom: 3.2rem;
}

.intro__star {
	position: relative;

	height: 100%;
	background: url(../images/Star.svg) no-repeat;
	background-position: bottom right;
}
.intro__star-text {
	position: absolute;
	bottom: 61px;
	right: 26px;
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 2.6rem;
	text-align: center;
	color: $white;
	transform: rotate(-23.34deg);
}

@media (max-width: 992px) {
	.intro {
		padding: 0;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			right: 15px;
			bottom: 0;
			background: url(../images/star360.svg) no-repeat;
			background-position: bottom right;
		}
		&__title {
			font-weight: 700;
			font-size: 4rem;
			line-height: 4.7rem;
			margin-top: 75px;
		}
	}
	.intro__content {
		padding-right: 0;
	}
	.intro__star {
		display: none;
	}
}

@media (max-width: 768px) {
	.intro {
		padding-top: 1rem;
		&::after {
			display: none;
		}
		&__title {
			font-weight: 700;
			font-size: 2.6rem;
			line-height: 3.5rem;
			text-align: center;

			border-top: 1px solid #a0a0a0;
			margin: 0;
			padding: 96px 0 32px 0;
		}
		&__content {
			flex-direction: column;
			position: relative;
			padding: 0;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: url(../images/star360.svg) no-repeat;
				background-position: 100% 38%;
			}
		}
	}
	.content__text {
		font-size: 2.8rem;
		font-weight: 500;
		line-height: 3.3rem;
		margin-bottom: 2.1rem;
	}
}
