.promotions {
	padding-top: 80px;
	&__title {
		margin-bottom: 49px;
		font-weight: 400;
		font-size: 4.1rem;
		line-height: 4.8rem;

		color: $secondary;
		span {
			color: $primary;
		}
	}
	&__col {
		display: flex;
	}
	&__suptitle {
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.3rem;
		margin: 16px 0 8px 0;

		color: #000000;
	}
	&__text {
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.5;

		color: #727272;
	}
}
