.stages {
	background: $white;
	overflow: hidden;
}
.stages__photo {
	height: 608px;
	position: relative;
}
.stages__img {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;

	transform: translateY(-50%);
}
.stages-item__list-listmidl,
.stages-item__list-listbot {
	position: relative;
	z-index: 1;
	margin-left: -60px;
}
.stages-item__list-listbot {
	margin-left: -120px;
}
.stages-item__title {
	margin-top: 10px;
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 4.1rem;
	color: $secondary;
	a {
		color: $primary;
	}
}
.stages-item__subtitle {
	margin-top: 30px;
	color: $primary;
	font-weight: 400;
	font-size: 2.6rem;
	line-height: 3rem;
	span {
		padding-right: 20px;
	}
}
.stages-item__text {
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 1.2;
	color: #727272;
	margin-bottom: 18px;
}
