.works {
	margin-bottom: 50px;
}
.works__title {
	font-weight: 400;
	font-size: 4.1rem;
	line-height: 4.8rem;
	color: black;
	margin-bottom: 63px;
	margin-top: 49px;
}
.works__img {
	height: 280px;
}
.works__text {
	font-weight: 500;
	font-size: 1.9rem;
	line-height: 2.2rem;
	color: $secondary;
}
.works__price {
	color: $secondary;
	font-weight: 700;
	font-size: 2.2rem;
	line-height: 2.6rem;
}
.works__suptext {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.8rem;
	color: #b8b8b8;
	margin-bottom: 10px;
}
