<section class="advantages">
    <div class="container">
        <div class="row">
            <div class="advantages__photo">
                <img class="advantages__img" src="assets/images/Rectangle1.jpg" alt="rectangle">
            </div>
            <div class="col-md-5 offset-md-2 px-0">
                <div class="container">
                    <div class="advantages__content">
                        <h2 class="advantages__title">Наши преимущества</h2>
                        <p class="advantages__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat
                            purus
                            ut massa egestas urna ut. Vitae ipsum nunc libero amet velit arcu. Massa amet, a,
                            habitant
                            diam
                            tortor lorem non congue sit. Pretium aliquam, mattis imperdiet viverra aliquam. Accumsan
                            lectus
                            maecenas eleifend auctor. Q</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-1 d-flex px-0">

                <div class="advantages-right">
                    <div class="advantages-right__left">
                        <div class="advantages-right__img">
                            <img src="assets/images/Component1.svg" alt="#">
                        </div>
                        <div class="advantages-right__title">Качество</div>
                        <div class="advantages-right__text">
                            Elementum posuere felis lacus diam amet mauris pellentesque.
                        </div>
                        <div class="advantages-right__img">
                            <img src="assets/images/Component2.svg" alt="#">
                        </div>
                        <div class="advantages-right__title">Скорость</div>
                        <div class="advantages-right__text">
                            Elementum posuere felis lacus diam amet mauris pellentesque.
                        </div>
                    </div>


                    <div class="advantages-right__right">
                        <div class="advantages-right__img">
                            <img src="assets/images/Component3.svg" alt="#">
                        </div>
                        <div class="advantages-right__title">Долговечность</div>
                        <div class="advantages-right__text">
                            Elementum posuere felis lacus diam amet mauris pellentesque.
                        </div>
                        <div class="advantages-right__img">
                            <img src="assets/images/Component4.svg" alt="#">
                        </div>
                        <div class="advantages-right__title">Цена</div>
                        <div class="advantages-right__text">
                            Elementum posuere felis lacus diam amet mauris pellentesque.
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>