<section class="company">
    <div class="container">
        <div class="row">
            <div class="company__photo">
                <img class="company__img" src="assets/images/Rectangle15.jpg" alt="rectangle">
            </div>
            <div class="col-6">
                <h2 class="company__title">
                    <span>Компания</span> АРТ-ОКНА
                </h2>
                <p class="company__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat purus ut massa egestas urna ut.
                    Vitae ipsum nunc libero amet velit arcu. Massa amet, a, habitant diam tortor lorem non congue
                    sit. Pretium aliquam, mattis imperdiet viverra aliquam. Accumsan lectus maecenas eleifend
                    auctor. Quisque aliquam est sollicitudin odio purus ut libero ultricies potenti. Viverra euismod
                    elit urna suspendisse egestas tellus imperdiet. Elementum posuere felis lacus diam amet mauris
                    pellentesque. Aenean amet turpis sit aliquam lectus scelerisque mus eget.
                </p>
                <p class="company__text">
                    Elementum posuere felis lacus diam amet mauris pellentesque. Aenean amet turpis sit aliquam
                    lectus scelerisque mus eget.
                </p>
                <div class="row mt-5">
                    <div class="col-2">
                        <h2 class="company__title">
                            <span>128</span>
                        </h2>
                        <p class="company__text">
                            ыв
                        </p>
                        <h2 class="company__title">
                            <span>128</span>
                        </h2>
                        <p class="company__text">
                            ыв
                        </p>
                    </div>
                    <div class="col-2 offset-md-3">
                        <h2 class="company__title">
                            <span>128</span>
                        </h2>
                        <p class="company__text">
                            ыв
                        </p>
                        <h2 class="company__title">
                            <span>128</span>
                        </h2>
                        <p class="company__text">
                            ыв
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>