<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="discount__item">
                    <h2 class="discount__title">Рассчитайте стоимость<br>остекления балкона со скидкой 35%</h2>
                    <form class="feedback-form" action="feedback-form">
                        <div class="feedback-form-group">
                            <input class="feedback-form-input" type="text" name="username" id="username"
                                placeholder="Ваше имя">
                            <input class="feedback-form-input" type="text" name="phone" id="phone"
                                placeholder="Номер телефона">
                            <input class="feedback-form-group__btn" type="submit" value="Заказать звонок">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>