<header class="header">
    <div class="container">
        <div class="aside-top">
            <div class="row">
                <div class="col-md-2">
                    <img class="logo" src="../assets/images/logo.svg" alt="art-windows">
                </div>
                <div class="aside-top__right">
                    <div class="offset-1 col-4 col-md-6 col-lg-3 col-xl-5">
                        <div class="uptime">Часы работы:</div>
                        <div class="time">8:00 - 20:00</div>
                    </div>
                    <div class="col-1 col-lg-3 col-lg-5 col-xl-5">
                        <div class="address">Адрес:</div>
                        <div class="city">г.Город, ул. Улица, д. Дом</div>
                    </div>
                    <div class="col-3 col-md-6 col-lg-3 col-xl-4">
                        <div class="phone">Телефон:</div>
                        <div class="number__phone">+7 999 999 99 99</div>
                    </div>
                    <div class="col-2 col-lg-3 col-xl-3">
                        <div class="email">Эл. почта:</div>
                        <div class="mail">email@email.ru</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside-bot">
            <div class="row">
                <nav class="nav-top col-12 col-x1-12">
                    <ul class="nav-top__item">
                        <li>
                            <a href="#">Балконы и лоджии</a>
                        </li>
                        <li>
                            <a href="#">Окна</a>
                        </li>
                        <li>
                            <a href="#">Двери</a>
                        </li>
                        <li>
                            <a href="#">Дома и котеджи</a>
                        </li>
                        <li>
                            <a href="#">Калькулятор</a>
                        </li>
                        <li>
                            <a href="#">Акции</a>
                        </li>
                        <li>
                            <a href="#">Сотрудничество</a>
                        </li>
                        <li>
                            <a href="#">О компании</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class=" col-12 col-md-12 col-lg-8">
                    <div class="intro__item">
                        <h1 class="intro__title">Остекление балконов и лоджий под ключ </h1>
                        <div class="intro__content">
                            <div class="intro__content-left">
                                <div class="content__text">35%<span class="content__span">скидка<br>на
                                        остекление</span></div>
                                <div class="content__text">15%<span class="content__span">скидка<br>на
                                        отделку</span></div>
                            </div>
                            <div class="intro__content-right">
                                <div class="content__text">5 лет<span class="content__span">гарантия<br>на
                                        работу</span></div>
                                <div class="content__text">6 мес.<span
                                        class="content__span">беспроцентная<br>рассрочка</span></div>
                            </div>
                        </div>
                        <button class="text-center btn">Рассчитать стоимость</button>
                    </div>
                </div>
                <div class="col-md-2 col-lg-4">
                    <div class="intro__star">
                        <div class="intro__star-text">от<br>2 545 ₽/м²</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>