<section class="options">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="options__title">
                    <a href="#">Варианты остекления</a>
                    балконов с расчетом стоимости
                </h2>
            </div>
            <div class="options__col d-flex">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="bg-white">
                        <div class="options__text">Теплое остекление балкона с отделкой пластиком</div>
                        <a class="options__img" href="#">
                            <img src="assets/images/example.jpg" alt="example">
                        </a>
                        <ul class="options__list px-4">
                            <li class="optons__item">Теплое остекление:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка потолка:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                        </ul>
                        <div class="optons__item d-flex px-4">Цена от:<span class="price__span ml-auto">40 320
                                руб</span></div>
                        <button class="options__btn col-md-12">Подробнее</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="bg-white">
                        <div class="options__text">Теплое остекление балкона с отделкой пластиком</div>
                        <a class="options__img" href="#">
                            <img src="assets/images/example.jpg" alt="example">
                        </a>
                        <ul class="options__list px-4">
                            <li class="optons__item">Теплое остекление:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка потолка:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                        </ul>
                        <div class="optons__item d-flex px-4">Цена от:<span class="price__span ml-auto">40 320
                                руб</span></div>
                        <button class="options__btn col-md-12">Подробнее</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="bg-white">
                        <div class="options__text">Теплое остекление балкона с отделкой пластиком</div>
                        <a class="options__img" href="#">
                            <img src="assets/images/example.jpg" alt="example">
                        </a>
                        <ul class="options__list px-4">
                            <li class="optons__item">Теплое остекление:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка потолка:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                        </ul>
                        <div class="optons__item d-flex px-4">Цена от:<span class="price__span ml-auto">40 320
                                руб</span></div>
                        <button class="options__btn col-md-12">Подробнее</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="bg-white">
                        <div class="options__text">Теплое остекление балкона с отделкой пластиком</div>
                        <a class="options__img" href="#">
                            <img src="assets/images/example.jpg" alt="example">
                        </a>
                        <ul class="options__list px-4">
                            <li class="optons__item">Теплое остекление:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка потолка:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                        </ul>
                        <div class="optons__item d-flex px-4">Цена от:<span class="price__span ml-auto">40 320
                                руб</span></div>
                        <button class="options__btn col-md-12">Подробнее</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="bg-white">
                        <div class="options__text">Теплое остекление балкона с отделкой пластиком</div>
                        <a class="options__img" href="#">
                            <img src="assets/images/example.jpg" alt="example">
                        </a>
                        <ul class="options__list px-4">
                            <li class="optons__item">Теплое остекление:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка потолка:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                        </ul>
                        <div class="optons__item d-flex px-4">Цена от:<span class="price__span ml-auto">40 320
                                руб</span></div>
                        <button class="options__btn col-md-12">Подробнее</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="bg-white">
                        <div class="options__text">Теплое остекление балкона с отделкой пластиком</div>
                        <a class="options__img" href="#">
                            <img src="assets/images/example.jpg" alt="example">
                        </a>
                        <ul class="options__list px-4">
                            <li class="optons__item">Теплое остекление:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка потолка:<span class="ml-auto">12 232 руб.</span></li>
                            <li class="optons__item">Отделка стен:<span class="ml-auto">12 232 руб.</span></li>
                        </ul>
                        <div class="optons__item d-flex px-4">Цена от:<span class="price__span ml-auto">40 320
                                руб</span></div>
                        <button class="options__btn col-md-12">Подробнее</button>
                    </div>
                </div>
            </div>
            <div class="options__col d-flex">

            </div>
        </div>
    </div>
</section>