<section class="promotions">
    <div class="container">
        <div class="row d-flex flex-column">

            <h2 class="promotions__title"><span>Акции</span> и предложения</h2>
            <div class="promotions__col">
                <div class="col-4">
                    <img src="assets/images/Rectangle26.jpg" alt="promotions">
                    <div class="promotions__suptitle">Название акции</div>
                    <p class="promotions__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat purus ut massa egestas
                        urna ut. Vitae ipsum nunc libero a...
                    </p>
                </div>
                <div class="col-4">
                    <img src="assets/images/Rectangle26.jpg" alt="promotions">
                    <div class="promotions__suptitle">Название акции</div>
                    <p class="promotions__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat purus ut massa egestas
                        urna ut. Vitae ipsum nunc libero a...
                    </p>
                </div>
                <div class="col-4">
                    <img src="assets/images/Rectangle26.jpg" alt="promotions">
                    <div class="promotions__suptitle">Название акции</div>
                    <p class="promotions__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat purus ut massa egestas
                        urna ut. Vitae ipsum nunc libero a...
                    </p>
                </div>
            </div>






        </div>
    </div>
</section>