<section class="stages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <div class="stages__photo">
                    <img class="stages__img" src="assets/images/Rectangle25.jpg" alt="rectangle">
                </div>

            </div>
            <div class="col-12 col-md-5">
                <div class="stages-item">
                    <h2 class="stages-item__title">
                        <a href="#">Этапы остекления</a><br>
                        балконов и лоджий под ключ
                    </h2>
                    <div class="stages-item__list">
                        <h3 class="stages-item__subtitle"><span>1.</span>Название шага</h3>
                        <p class="stages-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Feugiat purus ut massa egestas urna ut. Vitae ipsum nunc libero amet velit arcu. Massa
                            amet, a, habitant diam tortor lorem non congue sit.</p>
                    </div>
                    <div class="stages-item__list-listmidl">
                        <h3 class="stages-item__subtitle"><span>2.</span>Название шага</h3>
                        <p class="stages-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Feugiat purus ut massa egestas urna ut. Vitae ipsum nunc libero amet velit arcu.</p>
                    </div>
                    <div class="stages-item__list-listbot">
                        <h3 class="stages-item__subtitle"><span>3.</span>Название шага</h3>
                        <p class="stages-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Feugiat purus ut massa egestas urna ut. Vitae ipsum nunc libero amet velit arcu. Massa
                            amet, a, habitant diam tortor lorem non congue sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>