<section class="works">
    <div class="container">
        <div class="col-4 px-0">
            <h2 class="works__title">Наши работы</h2>
        </div>
        <div class="row">
            <div class="col-6 mb-5">
                <img class="works__img" src="assets/images/Rectangle.jpg" alt="Rectangle">
                <div class="bg-white py-4">
                    <div class="row justify-content-between mx-5">
                        <div class="col-6">
                            <p class="works__text my-0 mb-2">Название работы</p>
                            <p class="works__suptext my-0">г. Волгоград</p>
                        </div>
                        <div class="col-6 d-flex flex-column-reverse">
                            <p class="works__price d-flex justify-content-end my-0 mt-2">60 780 руб</p>
                            <p class="works__suptext d-flex justify-content-end my-0">Цена:</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-6 mb-5">
                <img class="works__img" src="assets/images/Rectangle.jpg" alt="Rectangle">
                <div class="bg-white py-4">
                    <div class="row justify-content-between mx-5">
                        <div class="col-6">
                            <p class="works__text my-0 mb-2">Название работы</p>
                            <p class="works__suptext my-0">г. Волгоград</p>
                        </div>
                        <div class="col-6 d-flex flex-column-reverse">
                            <p class="works__price d-flex justify-content-end my-0 mt-2">60 780 руб</p>
                            <p class="works__suptext d-flex justify-content-end my-0">Цена:</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-6 mb-5">
                <img class="works__img" src="assets/images/Rectangle.jpg" alt="Rectangle">
                <div class="bg-white py-4">
                    <div class="row justify-content-between mx-5">
                        <div class="col-6">
                            <p class="works__text my-0 mb-2">Название работы</p>
                            <p class="works__suptext my-0">г. Волгоград</p>
                        </div>
                        <div class="col-6 d-flex flex-column-reverse">
                            <p class="works__price d-flex justify-content-end my-0 mt-2">60
                                780 руб</p>
                            <p class="works__suptext d-flex justify-content-end my-0">Цена:</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-6 mb-5">
                <img class="works__img" src="assets/images/Rectangle.jpg" alt="Rectangle">
                <div class="bg-white py-4">
                    <div class="row justify-content-between mx-5">
                        <div class="col-6">
                            <p class="works__text my-0 mb-2">Название работы</p>
                            <p class="works__suptext my-0">г. Волгоград</p>
                        </div>
                        <div class="col-6 d-flex flex-column-reverse">
                            <p class="works__price d-flex justify-content-end my-0 mt-2">60 780 руб</p>
                            <p class="works__suptext d-flex justify-content-end my-0">Цена:</p>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>